<html>
  <head>
    <title>ACP Brevet Times!</title>
  </head>
  <body>
    <form role="form" action="/output">
    <p><b>Select the type of times you would like to retrieve.</b></p>
    <input type="radio" id="listAll" name="output" value="all" checked>
    <label for="listAll">all</label>
    ||
    <input type="radio" id="listOpenOnly" name="output" value="open">
    <label for="listOpenOnly">open</label>
    ||
    <input type="radio" id="listCloseOnly" name="output" value="close">
    <label for="listCloseOnly">close</label><br>

    <p><b>If you want to limit how many items come back, please put that number below (>0).<br>
          NOTE: If number is above the total number of items or <=0, it will return all items.
    </b></p>
    <label for="top">Top limit: </label><input type="text" value="" id="top" name="top"><br>

    <p><b>Select the way you would like to see the data.</b></p>
    <input type="radio" id="csv" name="dtype" value="csv">
    <label for="csv">csv</label>
    ||
    <input type="radio" id="json" name="dtype" value="json">
    <label for="json">json</label><br><br>

    <button type="submit" formaction="/output">Get Times</button>
    </form>
  <body>
</html>
